.sidenav {
  background-color: #2A5683;
  width: 200px;
  font-weight: 500;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #FFF;
}