<!-- Área do título -->
<mat-card class="titulo mat-elevation-z0">
  <mat-card-title class="title">
    Novo Item do DDO
  </mat-card-title>
</mat-card>

<!-- Área das informações -->
<mat-card class="mat-elevation-z4">

  <mat-grid-list cols="1" [rowHeight]="alturaDialog">
    <mat-grid-tile>
      <div class="controles-container">

        <!-- Seleção da Licitação -->
        <mat-form-field>
          <mat-label>Licitação</mat-label>
          <mat-select (selectionChange)="buscaItens($event.value)">
            <mat-option *ngFor="let licitacao of licitacoes" [value]="licitacao.id_licitacao">
              {{licitacao.num_licitacao}}/{{licitacao.ano_licitacao}} - {{licitacao.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Tabela com os itens da Licitação selecionada -->
        <table mat-table [dataSource]="licitacaoItens">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="selecionados">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            color="primary"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            color="primary"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="num_licitacao_item">
            <th mat-header-cell *matHeaderCellDef>Item</th>
            <td mat-cell *matCellDef="let row">{{row.num_licitacao_item}}</td>
          </ng-container>
      
          <ng-container matColumnDef="nome_licitacao_item">
            <th mat-header-cell *matHeaderCellDef>Nome do Item</th>
            <td mat-cell *matCellDef="let row">{{row.nome_licitacao_item}}</td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let row">{{row.valor | currency: 'BRL'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5"></mat-paginator>
        
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Botões de adicionar e cancelar -->
  <div class="button-row">
    <button mat-raised-button (click)="addItem()" color="primary" [disabled]="isDisabled">
      Adicionar
    </button>
    <button mat-raised-button mat-dialog-close>
      Cancelar
    </button>
  </div>
  
</mat-card>

