<div class="grid-container">
  <img src="assets/Logo_Conselho.png" alt="CSJT">
  <span class="saudacao">
    Bem-vindo ao Sistema de Controle Orçamentário da 
    Secretaria de Tecnolgia da Informação do 
    Conselho Superior da Justiça do Trabalho
  </span>
</div>


<!-- <mat-card class="titulo mat-elevation-z0">
  <mat-card-title class="title">
    CGGOV
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Orçamento - Dashboard
  </mat-card-subtitle>
</mat-card>

<mat-card class="mat-elevation-z3">
  <mat-card-title class="title">Ações da JT</mat-card-title>
  <div style="display: block;">
    <canvas baseChart height="80px"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
</mat-card>

<mat-card class="mat-elevation-z3">
  <mat-card-title class="title">Descentralizações por Regional</mat-card-title>
  <div style="display: block">
    <canvas baseChart height="80px"
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType">
    </canvas>
  </div>
</mat-card> -->
