.grid-container {
    display: grid;
    place-items: center;
}


.gid-container img {
  max-width:400px;
  max-height:200px;
  width: auto;
  height: auto;
}

.saudacao {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
  width: 70%;
  margin-top: 70px;
}

// .dashboard-card {
//   position: absolute;
//   top: 15px;
//   left: 15px;
//   right: 15px;
//   bottom: 15px;
// }

// .more-button {
//   position: absolute;
//   top: 5px;
//   right: 10px;
// }

// .dashboard-card-content {
//   text-align: center;
// }

// .titulo .ttile {
//   font-size: 3rem;
//   font-weight: 300;
//   line-height: 1.2;
// }

// .titulo .subtitle {
//   font-size: 1.1rem;
//   line-height: 1.2;
//   padding-top: 5px;
// }

// .titulo {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }