/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.azul-csjt {
  color: #2a5683;
}

.verde-csjt {
  color: #007b5f;
}

.v-middle {
  vertical-align: middle;
}

.msg-sucess {
  background-color: #daa60a;
  color: #fff;
}

.msg-error {
  background-color: #e35e6b;
  color: #fff;
}

.espaco {
  flex: 1 1 auto;
}

tr.mat-row:hover {
  background-color: #eee;
}

// Tirar as setas dos inputs do tipo NUMBER
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}
