form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin: 25px 15px 0px 0px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.button-row {
  text-align: right;
}

.button-row button {
  margin: 5px;
}
