<mat-card class="titulo mat-elevation-z0">
  <div *ngIf="data; then updateTitle; else createTitle"></div>
  <ng-template #updateTitle>
    <mat-card-title class="title"> Editar Nota de Crédito </mat-card-title>
  </ng-template>
  <ng-template #createTitle>
    <mat-card-title class="title"> Nova Nota de Crédito </mat-card-title>
  </ng-template>
</mat-card>

<mat-card class="home mat-elevation-z4">
  <form [formGroup]="formulario">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <mat-label>Ação da JT</mat-label>
            <mat-select formControlName="id_acao">
              <mat-option *ngFor="let acao of acoes" [value]="acao.id_acao">
                {{ acao.nome }}
              </mat-option>
            </mat-select>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>GND</mat-label>
            <mat-select formControlName="gnd">
              <mat-option *ngFor="let item of gnds" [value]="item">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Demandante</mat-label>
            <mat-select formControlName="id_ug">
              <mat-option *ngFor="let ug of ugs" [value]="ug.id_ug">
                {{ ug.cod_ug }}
              </mat-option>
            </mat-select>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data da aprovação</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dt_nota_credito"
            />
            <mat-error>Campo obrigatório</mat-error>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
            <input
              matInput
              placeholder="Número da NC"
              formControlName="num_nota_credito"
            />
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Valor"
              formControlName="valor"
              type="number"
            />
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

          <div class="button-row">
            <button
              *ngIf="data"
              mat-raised-button
              (click)="updateNC()"
              color="primary"
              [disabled]="formulario.invalid"
            >
              Atualizar
            </button>
            <button
              *ngIf="!data"
              mat-raised-button
              (click)="createNC()"
              color="primary"
              [disabled]="formulario.invalid"
            >
              Salvar
            </button>
            <button mat-raised-button mat-dialog-close>Cancelar</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-card>
