<mat-card class="titulo mat-elevation-z0">
  <div *ngIf="data; then updateTitle else createTitle"></div>
    <ng-template #updateTitle>
      <mat-card-title class="title">
        Editar Ata de Registro de Preço
      </mat-card-title>
    </ng-template>
    <ng-template #createTitle>
      <mat-card-title class="title">
        Nova Ata de Registro de Preço
      </mat-card-title>
    </ng-template>
</mat-card>

<mat-card class="mat-elevation-z4">
  <form>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          
          <mat-form-field>
            <input matInput placeholder="Número da ARP"
              [(ngModel)]="arp.num_arp" name="num_arp">
          </mat-form-field>
          
          <mat-form-field>
            <input matInput placeholder="Descrição"
              [(ngModel)]="arp.descricao" name="descricao">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Ano</mat-label>
            <mat-select [(ngModel)]="arp.ano_arp" name="ano_arp">
              <mat-option *ngFor="let ano of anos" [value]="ano">
                {{ano}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="controles-container">
          
          <mat-form-field>
            <mat-label>Ação da JT</mat-label>
            <mat-select [(ngModel)]="arp.id_acao" name="id_acao">
              <mat-option *ngFor="let acao of acoes" [value]="acao.id_acao">
                {{acao.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Unidade Gestora</mat-label>
            <mat-select [(ngModel)]="arp.id_ug" name="id_ug">
              <mat-option *ngFor="let ug of ugs" [value]="ug.id_ug">
                {{ug.cod_ug}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox [(ngModel)]="arp.ativa" name="ativa" color="primary">
            ARP vigente
          </mat-checkbox>

          <div class="button-row">
            <button *ngIf="data" mat-raised-button (click)="updateArp()" color="primary">
              Atualizar
            </button>
            <button *ngIf="!data" mat-raised-button (click)="createArp()" color="primary">
              Salvar
            </button>
            
            <button mat-raised-button (click)="cancel()">
              Cancelar
            </button>
          </div>
          
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    
  </form>
</mat-card>